.dice-tapper {
    font-family: var(--font-table);
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 1em;
    text-transform: lowercase;

    border: 1px solid black;
}

.dice-container {
    border: none;
}

.dice-container legend {
    margin: auto;
    font-family: var(--font-table-heading);
    font-weight: bold;
}

.aggregation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.output {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1;
}

.output label {
    font-family: var(--font-table-heading);
    font-weight: bold;
}

.output output {
    font-size: 2em;
    min-height: 1em;
    text-align: center;
}