.dice-tapper {
    font-family: var(--font-table);
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5em;
    text-transform: lowercase;
}

.dice-container {
    border: none;
    width: 85%;
    margin: auto;
}

.results {
    background-color: var(--color-bg-light);
    border-left: 0.125em solid var(--color-primary-dark);
    border-right: 0.125em solid var(--color-primary-dark);
    padding: 0.5em 0;
    position: relative;
}

.results::before {
    --cir-width: 0.25em;
    content: '';
    position: absolute;
    top: calc(-1 * var(--cir-width));
    left: calc(-1.2 * var(--cir-width));
    width: calc(100% + 2.4 * var(--cir-width));
    height: calc(100% + 2 * var(--cir-width));
    background-image:
        radial-gradient(circle at var(--cir-width) var(--cir-width), var(--color-primary-dark) var(--cir-width), transparent calc(var(--cir-width) + 0.01em)),
        radial-gradient(circle at calc(100% - var(--cir-width)) var(--cir-width), var(--color-primary-dark) var(--cir-width), transparent calc(var(--cir-width) + 0.01em)),
        radial-gradient(circle at var(--cir-width) calc(100% - var(--cir-width)), var(--color-primary-dark) var(--cir-width), transparent calc(var(--cir-width) + 0.01em)),
        radial-gradient(circle at calc(100% - var(--cir-width)) calc(100% - var(--cir-width)), var(--color-primary-dark) var(--cir-width), transparent calc(var(--cir-width) + 0.01em));
}

.aggregation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
}

.aggregation output {
    font-size: 2.5em;
}

.rolls output {
    font-size: 1.75em;
}

.output {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1;
}

.output label {
    font-family: var(--font-table-heading);
    font-weight: bold;
}

.output output {
    min-height: 1em;
    text-align: center;
    margin-bottom: 0.125em;
}