.dice-tapper {
    font-family: var(--font-table);
    display: flex;
    flex-direction: column;
    text-transform: lowercase;

    max-width: 15em;
    margin: auto;
    border: 1px solid black;
}

.dice {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 0.5em;
}

.dice legend {
    margin: auto;
    font-family: var(--font-table-heading);
    font-weight: bold;
}

.aggregation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.output {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    line-height: 1;
}

.output label {
    font-family: var(--font-table-heading);
    font-weight: bold;
}

.output output {
    font-size: 2em;
    min-height: 1em;
    text-align: center;
}