@font-face {
    font-family: "MrEaves";
    src: url("./mr-eaves.otf") format("opentype");
}

@font-face {
    font-family: "ScalySans";
    src: url("./scaly-sans.woff2") format("woff2");
}

@font-face {
    font-family: "ScalySansCaps";
    font-weight: 700;
    src: url("./scaly-sans-caps-bold.otf") format("opentype");
}

@font-face {
    font-family: "BookInsanity";
    font-weight: 700;
    src: url("./bookinsanity.otf") format("opentype");
}