.die-button {
    --margin: 12.5%;
    position: relative;
    display: grid;
    place-items: center center;
    background: none;
    border: none;
    box-shadow: none;
    color: var(--color-bg-text);
    padding: 0;
    font-size: 2em;
    margin: var(--margin);
    width: calc(100% - 2 * var(--margin));
    height: calc(100% - 2 * var(--margin));
    font-family: var(--font-table);
    font-weight: bold;
    -webkit-tap-highlight-color: transparent
}

.die-button:hover, .die-button:active {
    background: none;
    box-shadow: none;
}

.die-button:hover .icon, .die-button:focus .icon {
    --die-fill: var(--color-bg-light);
}

.die-button:hover .label, .die-button:focus .label {
    background-color: var(--color-bg-light);
}

.die-button .icon {
    --die-color: var(--color-primary);
    --die-width: 12;
    grid-column: 1;
    grid-row: 1;
    width: 110%;
    height: 110%;
}

.die-button .label {
    --outline-width: 0.125em;
    --neg-outline-width: calc(-1 * var(--outline-width));
    grid-column: 1;
    grid-row: 1;
    background-color: var(--color-bg);
    padding: 0;
    border-radius: 1em;
}

.die-button .pulse {
    --die-color: var(--color-primary);
    --die-width: 8;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    z-index: -1;
    animation: pulse 0.25s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        width: 110%;
        height: 110%;
        opacity: 1;
        filter: blur(0);
    }

    100% {
        width: 130%;
        height: 130%;
        opacity: 0;
        filter: blur(1em);
    }
}