@import url("./fonts/fonts.css");

:root {
    --font-heading: 'MrEaves', sans-serif;
    --font-table-heading: 'ScalySansCaps', sans-serif;
    --font-table: 'ScalySans', sans-serif;
    --font-body: 'BookInsanity', serif;

    --color-bg: hsl(47, 41%, 81%);
    --color-bg-light: hsl(49, 62%, 95%);
    --color-primary: hsl(9, 74%, 20%);
    --color-primary-dark: hsl(31, 100%, 12%);
}

body {
    background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-weight: bold;
}

a {
    color: var(--color-primary);
}

a:hover {
    text-decoration: none;
}

/* https://webaim.org/techniques/css/invisiblecontent/ */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}