@import url("./fonts/fonts.css");

:root {
    --font-heading: 'MrEaves', sans-serif;
    --font-table-heading: 'ScalySansCaps', sans-serif;
    --font-table: 'ScalySans', sans-serif;
    --font-body: 'BookInsanity', serif;

    --color-bg: hsl(47, 41%, 81%);
    --color-bg-light: hsl(49, 62%, 95%);
    --color-heading: #58180d;
    --color-primary-dark: #3c1f00;
}

body {
    background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-heading);
    font-weight: bold;
}